|===
|필드명|데이터 타입|설명|제약 사항

{{#fields}}

|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#constraints}}· {{.}} +
{{/constraints}}
{{/fields}}
|===
