{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["react-app", "react-app/jest", "airbnb", "airbnb-typescript", "prettier"],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "settings": {
    "import/parsers": { "@typescript-eslint/parser": [".ts"] }
  },
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": 0,
    "import/prefer-default-export": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "prefer-arrow-callback": 0,
    "prefer-destructuring": 0,
    "exceptAfterSingleLine": 0,
    "import/order": 0,
    "prefer-object-spread": 0,
    "react-hooks/exhaustive-deps": 0,
    "@typescript-eslint/no-shadow": 0,
    "react/no-this-in-sfc": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.stories.tsx"]
      }
    ]
  }
}
